# --- Compilados / build ---
bin/
obj/
out/
*.exe
*.dll
*.pdb
*.cache
*.log

# --- IDEs ---
.vs/
*.user
*.rsuser
*.suo
*.sln.docstates
.vscode/
.idea/


packages/
*.nupkg
*.snupkg


TestResult*/
*.trx
*.coverage
*.coveragexml

.DS_Store
Thumbs.db


appsettings.json
appsettings.Development.json
appsettings.Local.json
*.http               # p.ej. ZocoApp.http (peticiones locales)
*.rest               # archivos REST client

*.tmp
*.swp
*.orig
